@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
article div button,
label, 
input{
    display: block;
    margin: 2rem 0px;
    border-radius: 20px;
    border-color: rgb(255, 0, 191);
    padding: 10px;
}
article{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

}

